<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página de Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style-login.css">


</head>
<body class="hold-transition login-page">
    <div>
        
        <header>
        
            <div class="nav-bar-container">

                <nav class="navbar">

                    <a href="#" class="text-center logo">
                        <img src="./assets/img/LOGO-monitoria.png" alt="Monitoria">
                    </a>

                    <a href="index.html" class="login bg-primary text-white" v-else key="notLogged">Voltar</a>
                    

                </nav>

            </div>

        </header>
        <section>

    <div class="login-box" id="cx-login"> 
        

        <div class="row links">
            <div class="col-12" style="display:flex; justify-content:space-between;">
                <a href="#" class="link" style="margin-top: 20px; margin-left: 20px;" @click.prevent="changeAction('login')">Login</a>
                <a href="#" class="link" style="margin-top: 20px; margin-right: 20px;" @click.prevent="changeAction('register')">Se cadastrar</a>
            </div>
        </div>
        <hr>
        <div class="card" style="text-align: center;">
            <div class="card-body login-card-body">
                
                <div role="alert" :class="['alert', isFormSend ? 'alert-success' : 'alert-danger']" v-if="isFormSend">Formulário enviado!</div>
              
                <transition name="fade-login" mode="out-in">

                  <div class="login" v-if="action == 'login'" key="login">

                    <p class="login-box-msg">Fazer Login</p>

                    <form method="post">
                        <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Digite seu email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        </div>
                        <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Digite sua senha">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        </div>
                        <div class="row" style="display:flex; justify-content:space-between;">
                        <div class="col-4">
                            <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Lembrar de mim
                            </label>
                            </div>
                        </div>
                        
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" @click.prevent="sendForm">Login</button>
                        </div>
                        
                        </div>
                    </form>

                  </div>

                  <div class="register" v-else key="register">

                    <p class="login-box-msg">Se cadastrar</p>

                    <form action="#" method="post">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Digite seu nome">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-user"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group mb-3">
                          <input type="email" class="form-control" placeholder="Digite seu email">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-envelope"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group mb-3">
                          <input type="password" class="form-control" placeholder="Digite sua senha">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="input-group mb-3">
                          <input type="password" class="form-control" placeholder="Confirme sua senha">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="display:flex; justify-content:space-between;">
                          <div class="col-5">
                            <div class="icheck-primary">
                              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                              <label for="agreeTerms">
                              Eu concordo com os <a href="#">termos</a>
                              </label>
                            </div>
                          </div>
                          
                          <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" @click.prevent="sendForm">Cadastrar</button>
                          </div>
                          
                        </div>
                    </form>

                  </div>
                
                </transition>
                  
            </div>
        </div>
    </div>
    </section>
    <footer>
        <p class="text-center">Site feito por <a href="https://github.com/Lucas-Povinske">Lucas Povinske</a></p>
    </footer>

    <script src="./assets/plugins/jquery/jquery.min.js"></script>
    <script src="./assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

      let app = new Vue({
        el: '#cx-login',
        data: {
          action: 'login',
          isFormSend: false
        },
        methods: {
          changeAction(action) {
            this.action = action;
          },
          sendForm() {
            this.isFormSend = true;
          }
        }
      })

    </script>

</body>
</html>